@import url('./base.css');

/* Hero */

.hero {
    position: relative;
    height: 100vh;
    transition: all 1s ease-in-out;
}

.hero .logo {
    font-size: 28px;
    color: var(--light);
    font-weight: bold;
}

.hero .logo span {
    font-weight: normal;
}

.hero .logo small {
    color: var(--orange);
    margin-left: 10px;
    font-size: 15px;
}

.hero .overlay {
    padding: 40px 110px;
}

.hero .navbar .flex li {
    margin: 0 10px;
}

.hero .navbar li .navlink {
    color: var(--light);
    font-size: 15px;
}

.hero .navbar li .navlink.active {
    color: var(--orange);
}

.hero .toggle,
.hero .responsive-navbar {
    display: none;
}

.hero .responsive-navbar {
    margin-right: -400px;
    transition: all 1s ease-in-out;
}

.hero .hero-text {
    height: 60vh;
    justify-content: flex-end;
}

.hero .hero-text h1 {
    font-size: 50px;
    color: var(--light);
}

@media(max-width:1000px) {
    body .hero .overlay {
        padding: 30px;
    }
    .hero .navbar .flex {
        display: none;
    }
    .hero .navbar .toggle {
        display: flex;
        font-size: 20px;
        color: var(--light);
        cursor: pointer;
    }
    .hero .hero-text {
        height: 50vh;
    }
    .hero .responsive-navbar {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        flex-direction: column;
        padding: 30px;
        height: 100%;
        width: 100%;
        max-width: 330px;
        background: var(--light);
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
        opacity: 0;
        z-index: -1;
    }
    .hero .responsive-navbar.show {
        opacity: 1;
        z-index: 1000;
        margin-right: 0px;
    }
    .hero .responsive-navbar .toggle {
        color: var(--light);
        font-size: 30px;
        font-family: 'arial';
        display: flex;
        justify-content: flex-end;
        width: 100%;
        color: var(--dark);
        transition: all 2s ease-in-out;
    }
    .hero .responsive-navbar .toggle:hover {
        color: var(--grey);
    }
    .hero .responsive-navbar li {
        margin: 30px 0;
    }
    .hero .responsive-navbar li .navlink {
        font-size: 18px;
        color: var(--grey);
        transition: all 1s ease-in-out;
    }
    .hero .responsive-navbar li .navlink:hover {
        color: var(--orange);
    }
}


/* quotation */

.quotation {
    padding: 40px 110px;
    margin-bottom: 60px;
}

.quotation .box {
    width: 49%;
}

.quotation .box.quotation-form {
    padding: 40px;
    height: 490px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    margin-top: -150px;
    z-index: 100;
    background: var(--light);
}

.quotation-form h3 {
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

.quotation-form form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.quotation-form input,
.quotation-form textarea {
    margin: 10px 0;
    padding: 18px 20px;
    border-radius: 5px;
    background: rgb(245, 245, 245);
}

.quotation-form button {
    width: 200px;
    padding: 18px 20px;
    border-radius: 4px;
    background: var(--orange);
    font-size: 15px;
    color: var(--light);
    margin-top: 10px;
    cursor: pointer;
    transition: all 1s ease-in-out;
}

.quotation-form button:hover {
    background: var(--orange-dark);
}

.quotation .quotation-text {
    padding: 40px 0;
    width: 85%;
}

@media(max-width:1000px) {
    .quotation {
        padding: 30px;
    }
    .quotation .row {
        flex-direction: column;
    }
    .quotation .box {
        width: 100%;
    }
    .quotation .quotation-text {
        width: 100%;
    }
    .quotation .box.quotation-form {
        margin-top: 20px;
    }
}


/* services */

.services {
    padding: 40px 110px;
    background: var(--blue-light);
}

.services .row {
    padding: 0;
}

.services .card .card-content {
    padding: 35px;
}

.services .card img {
    width: 60px;
    height: 60px;
}

.services .card h3 {
    position: relative;
    margin: 10px 0;
    padding: 20px 0;
}

.services .card h3::after {
    content: '';
    position: absolute;
    background: 0;
    bottom: 0;
    left: 0;
    background: rgb(243, 241, 241);
    height: 5px;
}

.services .card:nth-child(1) h3::after {
    width: 110px;
}

.services .card:nth-child(2) h3::after {
    width: 100px;
}

.services .card:nth-child(3) h3::after {
    width: 220px;
}

.services .card:nth-child(4) h3::after {
    width: 110px;
}

.services .card:nth-child(5) h3::after {
    width: 200px;
}

.services .card:nth-child(6) h3::after {
    width: 180px;
}

.services .card-content:hover {
    background: var(--blue);
    color: var(--light);
}

.services .card-content:hover p {
    color: var(--silver-light);
}

.services .card-content:hover h3::after {
    background: var(--orange);
}

@media(max-width:1000px) {
    .services {
        padding: 30px;
    }
    .services .row {
        padding: 20px 0;
    }
}

@media(max-width:800px) {
    .services .card {
        width: 100%;
        padding: 0;
        margin-bottom: 20px;
    }
    .services .card-content {
        width: 100%;
    }
}


/*Information */

.info {
    padding: 40px 110px;
    margin-top: 40px;
}

.info .row {
    align-items: flex-start;
}

.info .title {
    width: 80%;
}

.info .tabs .tab-header li {
    margin: 0px 10px;
    padding: 10px 0;
    position: relative;
    cursor: pointer;
}

.info .tabs .tab-header li::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background: rgb(243, 241, 241);
    bottom: 0;
    left: 0;
}

.info .tab-header li.active::after {
    background: var(--orange);
}

.info .tab-body .box {
    display: none;
}

.info .tab-body .box.active {
    display: flex;
}

.info .tab-body .box .row .item {
    width: 50%;
}

.info .box .item:nth-child(2) {
    padding: 0 60px;
}

@media(max-width:900px) {
    .info {
        padding: 30px;
    }
    .info .row {
        flex-direction: column;
    }
    .info .title {
        width: 100%;
    }
    .info .row.jt-space {
        justify-content: center;
    }
    .info .tabs .tab-body .box .item {
        width: 100%;
        margin-top: 20px;
        padding: 0;
    }
}


/* Testimonials */

.testimonials {
    padding: 40px 110px;
    background: var(--silver);
    margin-top: 30px;
}

.testimonials .row {
    align-items: center;
}

.testimonial-box {
    width: 50%;
    padding: 20px;
}

.testimonials .text {
    width: 100%;
    height: 180px;
    padding: 20px;
    background: var(--light);
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.testimonial-box img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-right: 20px;
    margin-left: 40px;
}

.testimonial-box span {
    font-size: 17px;
}

.testimonial-box p {
    font-size: 15px;
    margin-top: 10px;
    color: var(--grey);
}

@media(max-width:1000px) {
    .testimonials {
        padding: 30px;
    }
}

@media(max-width:900px) {
    .testimonials .row {
        flex-direction: column;
        padding: 0;
    }
    .testimonials .testimonial-box {
        width: 100%;
        padding: 10px;
    }
}


/*Projects */

.projects {
    padding: 40px 110px;
    margin-top: 30px;
}

.projects .row {
    padding: 0;
    align-items: center;
}

.projects .card-content {
    padding: 0;
}

.card-content .overlay .renovate {
    width: 70px;
    font-size: 11px;
    padding: 5px 10px;
    color: var(--light);
    background: var(--orange);
}

.card-content .overlay .center {
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: var(--light);
}

.card-content .overlay .bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: var(--light);
}

.card-content .overlay .bottom li {
    position: relative;
    padding-bottom: 10px;
}

.card-content .overlay .bottom li::after {
    content: '';
    position: absolute;
    width: 165px;
    height: 2px;
    background: rgb(172, 168, 168);
    bottom: 0;
    left: 0;
}

.card-content .overlay .bottom li:hover::after {
    background: var(--orange);
}

.projects .card-content .overlay {
    opacity: 0;
}

.projects .card-content .overlay:hover {
    opacity: 1;
}

@media(max-width:1000px) {
    .projects {
        padding: 30px;
    }
}

@media(max-width:800px) {
    .projects .card-content {
        width: 100%;
    }
}


/* Blog */

.blog {
    padding: 40px 110px;
    margin-top: 80px;
}

.blog .row {
    padding: 0;
    align-items: center;
}

.blog .row .card {
    margin-bottom: 110px;
}

.blog .row .card-content {
    padding: 0;
    height: 600px;
}

.blog .row .card-content .sub-title:hover {
    color: var(--orange);
}

.blog .row .card-content img {
    height: 280px;
    margin-bottom: 15px;
}

.blog .row .card-content .flex {
    margin: 20px 0;
    font-size: 15px;
}

.blog .row .card-content .flex .date {
    color: var(--grey);
    margin-right: 10px;
    letter-spacing: 1px;
}

.card-content .flex .user {
    color: var(--orange);
    transition: all 1s ease-out;
}

.card-content .flex .user:hover {
    color: var(--orange-dark);
}

@media(max-width:1000px) {
    .blog {
        padding: 30px;
    }
}

@media(max-width:800px) {
    .blog .row .card-content {
        width: 100%;
        margin: 40px 0;
    }
}


/* Footer */

footer {
    padding: 40px 110px;
    margin-top: 100px;
    background: var(--dark);
}

footer .row {
    justify-content: space-around;
    margin: 100px 0;
    padding: 0;
}

footer .about {
    width: 300px;
    color: var(--light);
    margin: 20px 0;
}

footer .about p {
    color: var(--light);
    margin-top: 10px;
}

footer span {
    color: var(--light);
    margin-bottom: 10px;
}

footer .links {
    margin: 20px 0;
}

footer .links li {
    margin: 14px 0;
    font-size: 15px;
}

footer .links ul li a {
    color: var(--dark-light);
}

footer .line {
    width: 100%;
    height: 1px;
    background: rgb(53, 52, 52);
    margin: 50px 0;
}

footer .copyright {
    margin-bottom: 110px;
    text-align: center;
    color: var(--light);
}

footer p {
    line-height: 30px;
}

footer .copyright .fa {
    color: var(--red);
}

footer .copyright a {
    color: var(--light);
}

@media(max-width:900px) {
    footer {
        padding: 30px;
    }
    footer .row {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    footer .about {
        width: 100%;
    }
}


/* About page */

.hero .hero-text-center {
    align-items: center;
    margin-top: 220px;
    color: var(--light);
}

.hero .hero-text-center h1 {
    font-size: 45px;
    margin-bottom: 15px;
}

.about footer {
    margin-top: 0;
}


/* About page / text-info */

.text-info {
    padding: 40px 110px;
    margin: 40px 0;
}

.text-info .box {
    width: 50%;
}

.text-info .box div {
    padding: 0px 40px;
    width: 85%;
}

.text-info .box div p {
    margin-bottom: 20px;
}

.team {
    padding: 40px 110px;
    background: var(--silver);
}

.team .row {
    padding: 0;
    align-items: center;
    justify-content: center;
}

.team .row:nth-child(1) {
    margin-top: 40px;
    margin-bottom: 100px;
}

.team .row:nth-child(1) p {
    max-width: 550px;
    text-align: center;
    margin-top: 20px;
}

.team .card {
    margin-bottom: 60px;
}

.team .card-content {
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 25px;
}

.team .card .card-content img {
    width: 90px;
    height: 90px;
    border-radius: 100%;
    margin-top: -90px;
    margin-bottom: 20px;
}

.team .card .card-content span {
    color: var(--grey);
    margin-bottom: 10px;
    font-size: 12px;
}

.team .card-content h3 {
    font-weight: normal;
    margin-bottom: 10px;
}

@media(max-width:900px) {
    .text-info {
        padding: 30px;
    }
    .text-info .row .box {
        width: 100%;
        margin: 20px 0;
    }
    .text-info .box div {
        padding: 0;
    }
    .team {
        padding: 30px;
    }
    .team .card-content {
        width: 100%;
    }
}


/* Service page */

.service .testimonials {
    margin: 0;
}

.service footer {
    margin: 0px;
}


/* Blog page */

.our_blog .blog {
    background: var(--silver);
}

.our_blog footer {
    margin: 0;
}

.our_blog .blog {
    margin-top: 0;
}

.our_blog .blog .card {
    margin: 30px 0;
}


/*Project page */

.project footer {
    margin: 0;
}

.project .testimonials {
    margin: 0;
}


/* Single page */

.single_post .hero-text-center {
    text-align: center;
}

.single_post .hero-text-center .flex p {
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.single_post .hero-text-center .flex span {
    font-size: 30px;
    color: var(--orange);
    margin: 0 10px;
}

.post {
    padding: 40px 110px;
    margin-top: 60px;
}

.single_post .post .row {
    padding: 0;
}

.post .row .post-content {
    width: 70%;
    padding: 0 20px;
}

.post .row .post-info {
    width: 27%;
}

.top-text h1 {
    font-size: 17px;
    font-weight: normal;
    color: var(--dark);
    line-height: 30px;
    margin-bottom: 20px;
    color: var(--dark-light);
}

.post-content .description {
    margin-bottom: 20px;
}

.post-content .detail {
    margin: 70px 0;
    font-size: 15px;
}

.post-content .detail p span {
    color: var(--orange);
    margin: 0 5px;
}

.post-comment .title {
    margin-bottom: 40px;
}

.post-comment .comment-box {
    width: 100%;
    margin: 40px 0;
}

.comment-box .comment-info {
    display: flex;
}

.post-comment img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-right: 20px;
}

.post-comment h3 {
    font-weight: normal;
    font-size: 17px;
    margin-bottom: 10px;
    color: var(--dark-light);
}

.post-comment .date {
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 10px;
    color: var(--silver-light);
    letter-spacing: 1px;
}

.post-comment .reply {
    width: 70px;
    padding: 10px 0;
}

.post-comment .comment-box .row {
    padding-left: 100px;
}

.post .post-form {
    margin-bottom: 40px;
}

.post-form .sub-title {
    margin-bottom: 40px;
}

.post-info .keyword-box {
    background-color: rgb(248, 248, 248);
    padding: 10px;
    margin: 30px 0;
}

.keyword-box input {
    width: 100%;
    padding: 21px 14px;
    background: #efefef;
    font-size: 14px;
    color: var(--dark);
}

.post-info .category {
    margin-top: 70px;
}

.post-info h1 {
    font-size: 17px;
    font-weight: normal;
    color: var(--dark);
    line-height: 30px;
    margin-bottom: 20px;
    color: var(--dark-light);
}

.post-info .category a {
    font-size: 14px;
}

.post-info .category .type {
    color: var(--orange);
}

.post-info .category .number {
    color: var(--silver-light);
}

.post-info .category .line {
    margin-bottom: 15px;
    margin-top: 10px;
    width: 100%;
    height: 1px;
    background: var(--silver);
}

.post-info img {
    width: 160px;
    height: 160px;
    border-radius: 100%;
    margin-top: 70px;
    margin-bottom: 20px;
}

.post-info .author p {
    margin-bottom: 30px;
}

.post-info .description {
    font-size: 13px;
}

.post-info .btn {
    width: 200px;
    padding: 12px 18px;
    border-radius: 4px;
    background: var(--orange);
    font-size: 14px;
    color: var(--light);
    cursor: pointer;
    transition: all 1s ease-in-out;
}

.post-info .btn:hover {
    background: var(--orange-dark);
}

.post-info .paragraph {
    margin-top: 60px;
}

@media(max-width:1000px) {
    .post {
        padding: 30px 100px;
    }
    .post .row.jt-space {
        flex-direction: column;
        justify-content: center;
    }
    .post .row .post-content,
    .post .row .post-info {
        width: 100%;
    }
}

@media(max-width:700px) {
    .post {
        padding: 40px;
    }
}


/* Cars */

.car_rent .cars {
    background: var(--silver);
    padding: 40px 110px;
}

.cars .row {
    padding: 0;
}

.cars .card .card-content {
    padding: 0;
    height: auto;
}

.cars .card-content img {
    height: 300px;
}

.cars .card-content .box {
    text-align: center;
}

.cars .card-content .box h4 {
    font-weight: normal;
    color: var(--orange);
}

.cars .card-content .box .flex {
    align-items: center;
    margin: 15px 0;
}

.cars .card-content .box i {
    margin: 0 3px;
    color: var(--gold);
}

.cars .card-content h3 {
    font-weight: normal;
    font-size: 24px;
    letter-spacing: 2px;
    color: var(--dark-light);
}

.cars .card-content h3 small {
    font-size: 15px;
}

.cars .card-content .detail {
    margin-top: 20px;
}

.cars .card-content .detail .flex {
    width: 100%;
    justify-content: space-between;
    font-size: 15px;
    color: var(--dark-light);
}

.cars .detail .line {
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
    height: 1px;
    background: var(--silver);
}

.cars .card-content button {
    width: 120px;
    padding: 12px 18px;
    border-radius: 4px;
    background: var(--orange);
    font-size: 14px;
    color: var(--light);
    cursor: pointer;
    transition: all 1s ease-in-out;
    margin-top: 20px;
}

.cars .card-content button:hover {
    background: var(--orange-dark);
}

@media(max-width:900px) {
    .car_rent .cars {
        padding: 30px;
    }
    .cars .card-content {
        width: 100%;
    }
}


/* Cars page / work */

.car_rent .work {
    margin: 50px 0;
    padding: 40px 140px;
}

.car_rent .work .row {
    align-items: center;
    text-align: center;
    padding: 0;
}

.car_rent .work .description {
    max-width: 600px;
    margin-top: 20px;
}

.car_rent .work .steps {
    position: relative;
    width: 100%;
    height: 90px;
    margin-top: 50px;
}

.car_rent .work .line {
    height: 4px;
    background: var(--orange);
    z-index: 1;
    margin-top: 45px;
}

.car_rent .work .over {
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 20%;
}

.car_rent .work .steps .box {
    z-index: 100;
    width: 55px;
    height: 55px;
    border: 4px solid var(--orange);
    border-radius: 100%;
    background: var(--light);
    color: var(--orange);
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width:1000px) {
    .car_rent .work {
        padding: 30px;
    }
}


/* Contact page */

.contact footer {
    margin: 0;
}

.contact .contact-form {
    padding: 40px 110px;
    background: var(--silver);
}

.contact-form .row:nth-child(1) {
    align-items: center;
    text-align: center;
    margin: 40px 0;
}

.contact-form .row:nth-child(1) .description {
    max-width: 600px;
    margin-top: 20px;
}

.contact-form .row {
    padding: 0;
    justify-content: space-between;
}

.contact-form .box-form {
    width: 65%;
    margin-bottom: 60px;
}

.contact-form .box-info {
    width: 32%;
    padding: 40px 20px;
    background: var(--light);
    height: 100%;
    margin-top: 30px;
}

.contact-form .flex .input-box {
    width: 100%;
    padding: 0 7px;
}

.contact-form button {
    width: 300px;
}

.contact-form .box-info .box {
    margin: 20px 0;
}

@media(max-width:1000px) {
    .contact .contact-form {
        padding: 30px;
    }
    .contact-form .box-form .flex {
        flex-direction: column;
    }
    .contact .box-form,
    .contact .box-info {
        width: 100%;
    }
}